#home {
  padding: 0 100px;
}
.sectionTitle {
  color: white;
  font-weight: 700;
  font-size: 3rem;
  margin-top: 3rem;
}
.sectionText {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 2.5rem;
}
.sectionContent {
  background-color: black;
  padding: 2rem 3rem;
  margin-top: 1rem;
  border: solid 0.5px #f7d74e;
  border-radius: 0.5rem;
}
#internshipSubtitle {
  font-weight: 700;
  font-size: 2rem;
  color: #7c9195;
  margin-left: 1rem;
}
#internshipContent {
  display: flex;
  justify-content: space-between;
}
#internshipText {
  display: flex;
  flex-direction: column;
  width: 45%;
}
#internshipImage {
  border-radius: 0.5rem;
  overflow: hidden;
}
#projectsContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
#contactContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
#links {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin-top: 1rem;
}


#resume:hover {
  color: #f7d74e;
  background-color: black;
  border: solid 0.5px #f7d74e;
  background-image: none;
}
#bruinshackLink:hover {
  color: white;
  background-color: black;
  border: solid 0.5px white;
}

@media screen and (max-width: 768px) {
  #home {
    padding: 0 32px;
  }
}