#internshipTitle {
  margin-right: 1rem;
}
#internshipContent {
  display: flex;
  flex-direction: column;
}
#top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#internshipText {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#internshipImage {
  position: relative;
  border-radius: 0.5rem;
  height: 350px;
  width: 350px;
  overflow: hidden;
}
#bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.btns {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}

@media screen and (max-width: 1000px) {
  #internshipTitle {
    margin-right: 1rem;
  }
  #internshipImage {
    height: 260px;
    width: 260px;
  }
  #bottom {
    margin-top: 3rem;
  }
  .btns {
    gap: 2rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 768px) {
  #top {
    flex-direction: column;
  }
  #internshipText {
    order: 2;
    text-align: center;
    width: 90%;
    margin-top: 2rem;
  }
  #internshipImage {
    order: 1;
    height: 325px;
    width: 325px;
  }
  #bottom {
    margin-top: 2.5rem;
  }
  #technologies {
    text-align: center;
    width: 90%;
  }
  .btns {
    gap: 1.5rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 425px) {
  #internshipTitle {
    margin-right: 0.5rem;
  }
  #internshipText {
    width: 90%;
    margin-top: 1.5rem;
  }
  #internshipImage {
    height: 230px;
    width: 230px;
  }
  #bottom {
    margin-top: 1.5rem;
  }
  #technologies {
    width: 90%;
  }
  .btns {
    gap: 1rem;
    flex-direction: column;
  }
}