.primaryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem;
  color: #f7d74e;
  background-color: black;
  border: solid 0.5px #f7d74e;
  border-radius: 0.5rem;
  transition: 0.7s hover;
  white-space: nowrap;
}

.primaryBtn:hover {
  color: black;
  background-image: linear-gradient(0deg, #fab12a, #f7d74e);
  border: solid 0.5px black;
}

@media screen and (max-width: 1000px) {
  .primaryBtn {
    font-size: 1.5rem;
    padding: 0.85rem;
  }
}

@media screen and (max-width: 425px) {
  .primaryBtn {
    font-size: 1.25rem;
    padding: 0.7rem;
  }
}