#pokedex {
  padding: 32px 100px;
}
#title {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-align: center;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  #pokedex {
    padding: 32px 32px;
  }
  #title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 425px) {
  #title {
    font-size: 2rem;
  }
}