.numberBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 60px;
  width: 60px;
  color: #f7d74e;
  background-color: black;
  border: 2px solid #f7d74e;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .numberBtn {
    height: 45px;
    width: 45px;
  }
}

@media screen and (max-width: 768px) {
  .numberBtn {
    font-size: 1.25rem;
    height: 40px;
    width: 40px;
  }
}

@media screen and (max-width: 425px) {
  .numberBtn {
    font-size: 1rem;
    height: 30px;
    width: 30px;
  }
}

