.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #7c9195;
  background-color: black;
  border: solid #7c9195 1px;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.selected {
  color: black;
  background-color: #f7d74e;
}

@media screen and (max-width: 1000px) {
  .square {
    height: 40px;
    width: 40px;
  }
}

@media screen and (max-width: 425px) {
  .square {
    height: 30px;
    width: 30px;
  }
}