#sudokuSolver {
  padding: 16px 100px;
}
#title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: white;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin: 1rem 0;
}
#board {
  display: grid;
  grid-template-columns: repeat(3, 60px) 2px repeat(3, 60px) 2px repeat(3, 60px);
  grid-template-rows: repeat(3, 60px) 2px repeat(3, 60px) 2px repeat(3, 60px);
  width: 548px;
  background-color: #7c9195;
  border: solid #7c9195 2px;
}
#verticalLine1 {
  background-color: #7c9195;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: -1;
}
#verticalLine2 {
  background-color: #7c9195;
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: -1;
}
#horizontalLine1 {
  background-color: #7c9195;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: -1;
}
#horizontalLine2 {
  background-color: #7c9195;
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: -1;
}
#btns {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
#numberBtns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  width: 196px;
  height: 196px;
}

@media screen and (max-width: 1000px) {
  #board {
    grid-template-columns: repeat(3, 40px) 2px repeat(3, 40px) 2px repeat(3, 40px);
    grid-template-rows: repeat(3, 40px) 2px repeat(3, 40px) 2px repeat(3, 40px);
    width: 368px;
  }
  #btns {
    gap: 1rem;
  }
  #numberBtns {
    height: 151px;
    width: 151px;
  }
}

@media screen and (max-width: 768px) {
  #sudokuSolver {
    padding: 16px 32px;
  }
  #title {
    font-size: 2.5rem;
  }
  #main {
    flex-direction: column;
  }
  #numberBtns {
    display: flex;
    gap: 0.25rem;
    width: auto;
    height: auto;
    margin-top: 1rem;
  }
  #functionBtns {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 425px) {
  #title {
    font-size: 2rem;
  }
  #board {
    grid-template-columns: repeat(3, 30px) 2px repeat(3, 30px) 2px repeat(3, 30px);
    grid-template-rows: repeat(3, 30px) 2px repeat(3, 30px) 2px repeat(3, 30px);
    width: 278px;
  }
}