#sudokuSolver {
  padding: 16px 100px;
}
#title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: white;
}
#main {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 1rem 0;
}
#board {
  display: grid;
  grid-template-columns: repeat(3, 2px 60px 1px 60px 1px 60px) 2px;
  grid-template-rows: repeat(3, 2px 60px 1px 60px 1px 60px) 2px;
  background-color: orange;
  width: 554px;
  height: 554px;
}
#btns {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 3rem;
}
#numberBtns {
  background-color: orange;
  width: 330px;
  height: 330px;
}